Repository nils-braun/b2luigi, pull requests merged in 2021-03, with the labels that each got.

#78 Added github workflows and removed travis
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .travis.yml
  README.rst
Labels: enhancement

#76 Adding an option to set the lsf job_name parameter
  b2luigi/batch/processes/lsf.py
Labels: enhancement

#72 Don't raise exception when download failed
  b2luigi/batch/processes/gbasf2.py
Labels: enhancement

#81 Fix code for getting LSF
  b2luigi/batch/processes/lsf.py
Labels: bug

#79 Make `job_name` setting set the `-batch_name` for htcondor
  .bumpversion.cfg
  b2luigi/__init__.py
  b2luigi/batch/processes/htcondor.py
  docs/conf.py
  examples/htcondor/settings.json
  tests/batch/test_htcondor_processs.py
Labels: enhancement, htcondor

#86 Feature/add pre commit linters
  .github/workflows/test.yml
  .pre-commit-config.yaml
  b2luigi/__init__.py
  b2luigi/basf2_helper/__init__.py
  b2luigi/basf2_helper/data.py
  b2luigi/basf2_helper/targets.py
  b2luigi/basf2_helper/tasks.py
  b2luigi/batch/cache.py
  b2luigi/batch/processes/__init__.py
  b2luigi/batch/workers.py
  b2luigi/cli/arguments.py
  b2luigi/cli/process.py
  b2luigi/core/dispatchable_task.py
  b2luigi/core/executable.py
  b2luigi/core/settings.py
  b2luigi/core/task.py
  b2luigi/core/temporary_wrapper.py
  b2luigi/core/utils.py
  docs/Makefile
  docs/advanced/basf2-examples.rst
  docs/advanced/development.rst
  docs/advanced/faq.rst
  docs/documentation/api.rst
  docs/documentation/run_modes.rst
  docs/usage/installation.rst
  docs/usage/quickstart.rst
  examples/htcondor/htcondor_example.py
  examples/htcondor/settings.json
  setup.cfg
  tests/batch/batch_task_1.py
  tests/batch/batch_task_2.py
  tests/batch/test_batch_process.py
  tests/batch/test_gbasf2_helper_functions.py
  tests/core/dispatch_1.py
  tests/core/dispatch_2.py
  tests/core/folder_structures.py
  tests/core/temporary_task_1.py
  tests/core/temporary_task_2.py
  tests/core/test_dispatch_task.py
  tests/core/test_folder_structures.py
  tests/core/test_parameter.py
  tests/core/test_requires.py
  tests/core/test_settings.py
  tests/core/test_task.py
  tests/core/test_temporary_files.py
  tests/core/test_utils.py
  tests/doc_examples/dict_requirement_example.py
  tests/doc_examples/simple_example.py
  tests/doc_examples/simple_example_b2luigi.py
  tests/doc_examples/test_examples.py
Labels: enhancement
