Repository nils-braun/b2luigi, pull requests merged in 2021-04, with the labels that each got.

#75 Add a setting to provide a text file with grid LFNs
  b2luigi/batch/processes/gbasf2.py
  tests/batch/test_gbasf2_process.py
Labels: enhancement, help wanted

#91 Several improvements of gbasf2 handling
  .bumpversion.cfg
  .pre-commit-config.yaml
  b2luigi/__init__.py
  b2luigi/batch/processes/gbasf2.py
  docs/conf.py
  tests/batch/_gbasf2_project_download_stdouts/all_failed.txt
  tests/batch/_gbasf2_project_download_stdouts/all_failed_and_duplicate.txt
  tests/batch/_gbasf2_project_download_stdouts/all_successful.txt
  tests/batch/_gbasf2_project_download_stdouts/all_successful_and_duplicate.txt
  tests/batch/_gbasf2_project_download_stdouts/failed_and_successful.txt
  tests/batch/_gbasf2_project_download_stdouts/failed_and_successful_and_duplicate.txt
  tests/batch/_gbasf2_project_statuses/all_done_but_application_error.json
  tests/batch/_gbasf2_project_statuses/done_testjbucket1357828d80b3.json
  tests/batch/_gbasf2_project_statuses/failed_7663_r03743_10_prod00013766_11x1.json
  tests/batch/_gbasf2_project_statuses/running_TrainingFEI_17-04-2021a10a957289.json
  tests/batch/test_gbasf2_process.py
Labels: bug, enhancement, gbasf2

#95 Fix b2luigi __version__ being shadowed by luigi
  b2luigi/__init__.py
Labels: bug

#96 Feature/docs typo fix and update contributors
  docs/index.rst
Labels: enhancement

#98 b2luigi/batch/processes/gbasf2.py: improve printout info for download of datasets
  b2luigi/batch/processes/gbasf2.py
Labels: enhancement, gbasf2

#102 Feature/improved warnings for incomplete gbasf2 download
  b2luigi/batch/processes/gbasf2.py
Labels: enhancement, gbasf2

#104 Typo: correct writing of Anselms name
  docs/index.rst
Labels: enhancement
