Repository nils-braun/b2luigi, pull requests merged in 2021-02, with the labels that each got.

#67 Persistent partial download directories for gbasf2 dataset downloads
  b2luigi/batch/processes/gbasf2.py
Labels: bug, enhancement

#63 Refactor away else/elif-return
  b2luigi/basf2_helper/data.py
  b2luigi/basf2_helper/tasks.py
  b2luigi/basf2_helper/utils.py
  b2luigi/batch/processes/__init__.py
  b2luigi/batch/processes/htcondor.py
  b2luigi/batch/processes/lsf.py
  b2luigi/batch/processes/test.py
  b2luigi/cli/runner.py
  b2luigi/core/task.py
  b2luigi/core/utils.py
Labels: enhancement

#68 Fix validation of downloaded grid dataset for duplicate LFNs
  b2luigi/batch/processes/gbasf2.py
  tests/batch/test_gbasf2_helper_functions.py
Labels: bug

#73 Improve development docs
  docs/advanced/development.rst
Labels: enhancement

#70 call dry_run method of non finished tasks during dry-run
  b2luigi/cli/runner.py
  docs/documentation/run_modes.rst
Labels: enhancement
