Repository nils-braun/b2luigi, pull requests merged in 2022-01, with the labels that each got.

#160 Hotfix: Adapt to new file name for gbasf2 setup file
  b2luigi/batch/processes/gbasf2.py
Labels: bug, gbasf2

#161 For gbasf2 status retries use retry package
  b2luigi/batch/processes/gbasf2.py
Labels: enhancement, gbasf2

#165 Set get_job_status as function
  b2luigi/batch/processes/htcondor.py
Labels: bug, htcondor

#166 Add automatic `need-changelog` PR labeller as github workflow
  .github/labeler.yml
  .github/workflows/pr.yml
  CHANGELOG.md
Labels: enhancement
