Repository nils-braun/b2luigi, pull requests merged in 2022-11, with the labels that each got.

#176 Feature/migrate pre commit config and update hooks
  .pre-commit-config.yaml
  CHANGELOG.md
Labels: bug

#175 Parametrize DIRAC group
  CHANGELOG.md
  b2luigi/batch/processes/gbasf2.py
  b2luigi/batch/processes/gbasf2_utils/gbasf2_job_status.py
Labels: enhancement, gbasf2

#179 Wrap default parameter in docs in literal quotes
  b2luigi/batch/processes/gbasf2.py
Labels: documentation
